before_script:
    - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY")
    - git clone https://gitlab.com/schabrolles/ansible-rear.git
    - cd ansible-rear
    - git checkout gitlab-ci
    - echo "$VAULT_PASSWD" > personal_vault_pass

stages:
    - Setup
    - ISO_creation_test
    - NETFS_recover_test
    - TSM_recover_test

Start_ReaR_master:
    stage: Setup
    tags:
        - ppc64le
    script:
        - ansible-playbook rear_start_master.yml

ReaR_setup:
    stage: Setup
    tags:
        - ppc64le
    script:
        - ansible-playbook rear_setup.yml -e rear_git_url=http://github.com/schabrolles/rear -e rear_git_branch=TSM_ask_password

Test_ISO_creation:
    stage: ISO_creation_test
    tags:
        - ppc64le
    script:
        - ansible-playbook rear_ISO_creation.yml

NETFS_test:
    stage: NETFS_recover_test
    tags:
        - ppc64le
    script:
        - ansible-playbook rear_test.yml -l ReaR_client -e rear_backup=NETFS --tags=ReaR_Backup,ReaR_recover

TSM_test:
    stage: TSM_recover_test
    tags:
        - ppc64le
    script:
        - ansible-playbook rear_test.yml -l ReaR_TSM_client -e rear_backup=TSM --tags=ReaR_Backup,ReaR_recover
