stages:
    - test

ReaR_Validation:
    stage: test
    only:
        - rear_test
    tags:
        - ppc64le
    before_script:
        - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
        - eval $(ssh-agent -s)
        - ssh-add <(echo "$SSH_PRIVATE_KEY")
        - git clone https://gitlab.com/schabrolles/ansible-rear.git
        - cd ansible-rear
        - git checkout gitlab-ci
        - echo "$VAULT_PASSWD" > personal_vault_pass
    script:
        - ansible-playbook rear_test.yml -e rear_git_url=http://github.com/rear/rear -e rear_git_branch=master
