before_script:
    - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY")
    - git clone https://gitlab.com/schabrolles/ansible-rear.git
    - cd ansible-rear
    - git checkout gitlab-ci
    - echo "$VAULT_PASSWD" > personal_vault_pass

stages:
    - ReaR_Setup
    - ReaR_ISO_test
    - ReaR_NETFS_Backup
    - ReaR_NETFS_Recover

Start_ReaR_master:
    stage: ReaR_Setup
    tags:
        - ppc64le
    script:
        - ansible-playbook rear_start_master.yml

ReaR_setup:
    stage: ReaR_Setup
    tags:
        - ppc64le
    script:
        - ansible-playbook rear_setup.yml -e rear_git_url=http://github.com/rear/rear -e rear_git_branch=master

Test_ISO_creation:
    stage: ReaR_ISO_test
    tags:
        - ppc64le
    script:
        - ansible-playbook rear_ISO_creation.yml

NETFS_Backup:rhel7BE:
    stage: ReaR_NETFS_Backup
    tags:
        - ppc64le
    script:
        - ansible-playbook rear_PXE_Backup.yml -l rear-rhelBE-145 -e rear_backup=TSMO

NETFS_Backup:rhel7LE:
    stage: ReaR_NETFS_Backup
    tags:
        - ppc64le
    script:
        - ansible-playbook rear_PXE_Backup.yml -l rear-rhel-142

NETFS_Backup:sles11:
    stage: ReaR_NETFS_Backup
    tags:
        - ppc64le
    script:
        - ansible-playbook rear_PXE_Backup.yml -l rear-sles11-144

NETFS_Backup:sles12:
    stage: ReaR_NETFS_Backup
    tags:
        - ppc64le
    script:
        - ansible-playbook rear_PXE_Backup.yml -l rear-sles12-143

NETFS_Backup:ubuntu1604:
    stage: ReaR_NETFS_Backup
    tags:
        - ppc64le
    script:
        - ansible-playbook rear_PXE_Backup.yml -l rear-ubuntu-141

NETFS_Recover:rhel7BE:
    stage: ReaR_NETFS_Recover
    tags:
        - ppc64le
    dependencies:
        - NETFS_Backup:rhel7BE
    script:
        - ansible-playbook rear_PXE_recovery.ymll -l rear-rhelBE-145

NETFS_Recover:rhel7LE:
    stage: ReaR_NETFS_Recover
    tags:
        - ppc64le
    dependencies:
        - NETFS_Backup:rhel7LE
    script:
        - ansible-playbook rear_PXE_recovery.ymll -l rear-rhel-142

NETFS_Recover:sles11:
    stage: ReaR_NETFS_Recover
    tags:
        - ppc64le
    dependencies:
        - NETFS_Backup:sles11
    script:
        - ansible-playbook rear_PXE_recovery.ymll -l rear-sles11-144

NETFS_Recover:sles12:
    stage: ReaR_NETFS_Recover
    tags:
        - ppc64le
    dependencies:
        - NETFS_Backup:sles12
    script:
        - ansible-playbook rear_PXE_recovery.ymll -l rear-sles12-143

NETFS_Recover:ubuntu1604:
    stage: ReaR_NETFS_Recover
    tags:
        - ppc64le
    dependencies:
        - NETFS_Backup:ubuntu1604
    script:
        - ansible-playbook rear_PXE_recovery.ymll -l rear-ubuntu-141
